@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Azonix";
  src: url("../../public/fonts/Azonix.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mabry";
  src: url("../../public/fonts/MabryPro-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-family: "Syne", sans-serif;
}
p,
a,
button,
input,
input::placeholder {
  font-family: "Gilroy", sans-serif;
}

input::placeholder {
  font-weight: 300;
}
