.dashboard {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;

  .dashboardGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    .sectionOne {
      // flex-grow: 2;
    }

    .sectionTwo {
      height: 100vh;
      // flex-grow: 7;
      .sectionTwoWrapper {
        height: 100%;
        overflow-x: auto;
      }
    }
  }
}

// Home Section

.Home {
  // overflow: scrokll;

  .HomeWrapper {
    padding: 1rem;
    .HomeHeader {
      height: 100px;
      border-bottom: 1px solid rgb(211, 211, 211);

      h1 {
        font-size: 48px;
      }
    }
  }
}

//Product

.secHeader {
  padding: 0.5rem;

  .secWrapper {
    max-width: 90%;
    margin: auto;
    h1 {
      font-size: 48px;
    }

    .secGrid {
      margin-top: 1rem;
      ul {
        display: flex;
        align-items: center;

        gap: 1rem;
        li {
          button {
            padding: 0.5rem 1rem;
            border: 1px solid #000;
            border-radius: 20px;
            transition: 300ms ease-in;

            &:hover {
              background-color: #000;
              color: #fff;
              transition: 300ms ease;
            }
          }
        }
      }
    }
    .AddProduct {
      background: #000;
      display: inline-block;
      color: #fff;
      padding: 0.8rem 1rem;
      border-radius: 15px;
      margin-top: 1rem;
    }

    .Products {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 1px dotted gray;
      padding: 1rem;
      margin-top: 1rem;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

// Product Display
.EmptyProduct {
  width: 500px;
}

.secHeaderContainer {
  border-bottom: 1px solid rgb(201, 199, 199);
  padding: 2rem 0;

  .headerLink {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

//New Styling

.newHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(206, 205, 205);
  padding: 1rem 0;
  height: 200px;

  @media (max-width: 800px) {
    flex-wrap: wrap;
  }

  div {
    display: flex;
    gap: 1rem;
    a {
      display: inline-block;
      border: 1px solid #000;
      padding: 0.6rem 1rem;
    }

    button {
      background: #000;
      color: #ffff;
      padding: 0.6rem 1rem;
    }
  }

  h1 {
    font-size: 60px;
    @media (max-width: 800px) {
      font-size: 25px;
    }
  }
}

.newProducts {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 2rem 0;
  gap: 2rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  .newText {
  }

  .productChoice {
    form {
      width: 100%;
      label {
        display: block;
        margin-top: 1rem;
      }

      input,
      select {
        border: 1px solid rgb(168, 168, 168);
        padding: 0.9rem;
        width: 100%;
        outline: none;
      }
    }

    .TypeText {
      font-size: 20px;
      margin-top: 1.4rem;
    }

    .TypeDetails {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .TypeItem {
        border: 1px solid rgb(206, 206, 206);
        padding: 1rem;
        cursor: pointer;
        transition: 300ms ease;
        h1 {
          font-size: 24px;
          line-height: 1;
        }
      }
    }
  }
}
.selectedType {
  border: 1px solid #000 !important;
  transition: 300ms ease;
}

.disableAddingProductBtn {
  opacity: 0.5;
}

// Edit Page Styling

.edit {
  padding: 1rem;
}

.editContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;

  padding: 1rem;

  .mainEdit {
    form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      input {
        width: 100%;
        padding: 0.7rem;
        outline: none;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 10px;
        &:focus {
          border: 1px solid #000;
        }
      }
    }
  }
}

.productInfoText,
.pricingText .coverText,
.richTextText {
  margin-top: 1rem !important;
  margin-bottom: 0.9rem !important;
}
.coverContainer {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(214, 214, 214);
  button,
  label {
    background: #000;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 10px;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .imageOptions {
    display: flex !important;
    align-items: center;
    gap: 1rem;
    input {
      display: none;
    }
  }
}

.productInfo {
  select {
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    &:focus {
      border: 1px solid #000;
    }
  }
}

.pricing {
  width: 100%;

  .pricingText {
    font-size: 20px;
  }

  .pricingInput {
    display: flex;
    border: 1px solid rgb(209, 209, 209);
    padding: 0.9rem;
    border-radius: 10px;
    align-items: center;
    gap: 0.8rem;
    h1 {
      border: 1px solid gray;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      outline: none;
    }
  }
}

.checkBoxOption {
  form {
    input {
      display: none;
    }
    cursor: pointer;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
  }
}
.checkBoxContainer {
  width: 45px;
  height: 25px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  border-radius: 50px;

  .checkBoxCircle {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 0.1rem;
  }
}

.preview {
  padding: 1rem;

  .previewWrapper {
    .previewText {
      font-size: 34px;
      font-weight: 500;
    }

    .cover {
      width: 100%;
      height: 200px;
      background-color: rgb(240, 240, 240);
    }

    .previewInfo {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      div {
        .tag {
          font-size: 12px;
          color: rgb(194, 194, 194);
        }

        .value {
          font-size: #000;
          font-size: 15px;
        }
      }
    }
  }
}

.openPricingModal {
  transform: translateY(40px);
}

// Home page
.gettingStarted {
  padding: 1rem;

  .pageHeader {
    font-size: 35px;
    margin: 1rem 0;
  }

  .gettingStartedContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-collapse: collapse;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;

    .gettingStartedItem {
      padding: 0.8rem;
      display: flex;
      gap: 0.7rem;
      align-items: center;

      .checkCircle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1.5px solid #000;
      }

      h1 {
        font-size: 16px;
        text-decoration: underline;
      }

      &:first-child,
      &:nth-child(3),
      &:nth-child(5) {
        border-right: 1px solid rgb(211, 211, 211);
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-bottom: 1px solid rgb(211, 211, 211);
      }
    }
  }
}

.bestSelling {
  padding: 1rem;

  .bestSellingHeader {
    font-size: 35px;
    margin: 1rem 0;
  }
}

.activity {
  padding: 1rem;

  .activityHeader {
    font-size: 35px;
    margin: 1rem 0;
  }
}

.bestSelling,
.activity {
  div {
    width: 100%;
    padding: 1.7rem;
    background-color: rgb(245, 245, 245);
    border: 1px dashed rgb(199, 199, 199);
    border-radius: 10px;

    p {
      text-align: center;
    }
  }
}
